.section-about {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 200px 0px;
}

.about {
  color: #fff;
  text-align: center;

  &__title {
    font-size: 60px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 20px;
  }
}