.section-features {
  padding: 40px 0px;
}

.features-title {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  color: #555;
  
  @media (max-width: 992px) {
    margin-bottom: 50px;
  }
}

.feature-wrapper {
  display: flex;
  align-items: center;
  
  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.feature-list {
  width: 100%;
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  
  @media (max-width: 1400px) {
    flex-wrap: wrap;
  }
}


.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  
  @media (max-width: 1400px) {
    width: 25%;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    width: 50%;
    margin-bottom: 30px;
  }

  &__header {
    margin-bottom: 10px;
    
    img {
      width: 42px;
      height: 42px;
      filter: grayscale(100%);
      transition: 300ms ease;
    }
  }

  &__body {

  }

  &__title {
    font-size: 20px;
    color: #555;
    font-weight: 400;
    text-align: center;
    transition: 300ms ease;
  }

  &:hover {
    .feature__title {
      color: #f05032;
    }

    .feature__header {
      img {
        filter: grayscale(0%);
      }
    }
  }
}