.section-home {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 300px 0px;
}

.home-info {
  color: #6f6f6e;

  &__title {
    font-weight: 800;
    font-size: 52px;
    padding-right: 90px;
    margin-bottom: 20px;
  }

  &__description {
    font-size: 24px;
    padding-right: 80px;
  }
}